body{
    background-color: rgba(189, 184, 184, 0.507);
}
button{
    margin-bottom: 10px;
    height: 50px;
    cursor: pointer;
}

.form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 45px;
    width: 300px;
}

.form input{
    margin-bottom: 20px;
    outline: none;
    
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}

.appleCounter{
display: flex;
flex-direction: column;
}


.number{
    margin-top: 20px;
    max-width: 50px;
}

#appreciation {
    margin-top: 20px;
}

.appreciation{
    position: relative;
}

.error:disabled {
    /* visibility: hidden; */
    position: absolute;
    left:180px;
    width: 250px;
    top: 38px;
    color:red;
}

/* .errorMsg {
    position: absolute;
    left: 230px;
    width: 300px;
    color: red;
} */