body {
  box-sizing: border-box;
  padding: 10px 20px 30px;
  background: #eee;
  font-family: sans-serif;
}

.wrap {
  margin: 10px 20px;
  background: #fff;
  padding: 10px 20px 30px;
}
.buttonAnimated {
  width: 100px;
  height: 30px;
  background: white;
  transition: 1s;
  outline: none;
}
.buttonAnimated.animation {
  width: 350px;
  height: 50px;
  background: red;
}

.eventButton.unactive {
  background: #eee;
  color: #a8a8a8;
}

#error {
  color: red;
}

#bubbleParent {
  margin-top: 20px;
  padding: 20px 30px;
  border: 1px solid blue;
}
#bubbleParent:hover {
  background: blue;
}
#bubbleChild {
  padding: 20px 30px;
  border: 1px solid red;
}
#bubbleChild:hover {
  background: red;
}

.loadedImage {
  transform: rotate(390deg);
  transition: 0.5s;
}

.wrap h1 {
  text-align: center;
}

/* .wrap h1:hover{

   transform: rotate(180deg);
   transition: 0.6s;
} */

#slider {
  display: flex;
  justify-content: center;
}

#PrevSilde,
#NextSilde {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 60px;
  outline: none;
  background: url("../images/paw.png") 0/100% no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#PrevSilde {
  left: 0;
}

#NextSilde {
  right: 0;
}

.animate {
  transform: rotate(390deg);
  transition: 0.5s;
}
