#CommentsFeed {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#CommentsFeed img {
    height: 150px;
    width: 150px;
}

/* .like{
    position: relative;
}

.like::before{
position: absolute;
content: "";
background-image: url('img/like.jpg');
width: 10px;height: 10px;
} */
